page-list {

}
.contents{
	background-color: #ecedef;
}
.list-item{
	width: calc(100% - 30px);
	margin: 13px 15px;
	border-radius: 5px;
	box-shadow: 0px 1px 1px 0px #888888;
}
.list-item-content{
	width: 100%;
	height: 100%;
	padding: 4px;
}
.add{
	position: fixed;
	color: #ecedef;
	background-color: #212121;
	z-index: 1000;
	width: 50px;
	height: 50px;
	bottom: 0;
	left: 50%;
	font-size: 18px;
	margin: 0 0 30px -25px;
	border-radius: 45px;
	overflow: none;
	cursor: pointer;
	text-align: center;
	line-height: 45px;
	transition: .3s ease;
}