<!--
  Generated template for the ItemEditPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Edit {{item_name}}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item *ngIf="valid">
      <ion-label color="dark" style="font-weight: bold;">Name : </ion-label>
      <ion-input type="text" value="{{item_name}}" clearInput [(ngModel)]="name"></ion-input>
    </ion-item>

    <ion-item *ngIf="!valid">
      <ion-label color="danger" style="font-weight: bold;">Name : </ion-label>
      <ion-input type="text" clearInput [(ngModel)]="name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="dark" style="font-weight: bold;">Unit : </ion-label>
      <ion-select interface="popover">
        <ion-option value="kg" selected="{{item_unit[0]}}" (ionSelect)="unit_selected('Kg')">Kilogram</ion-option>
        <ion-option value="gram" selected="{{item_unit[1]}}" (ionSelect)="unit_selected('Gram')">Gram</ion-option>
        <ion-option value="hour" selected="{{item_unit[2]}}" (ionSelect)="unit_selected('Hour')">Hour</ion-option>
        <ion-option value="day" selected="{{item_unit[3]}}" (ionSelect)="unit_selected('Day')">Day</ion-option>
      </ion-select>
    </ion-item>

    <ion-item *ngIf="valid2">
      <ion-label color="dark" style="font-weight: bold;">Rate : </ion-label>
      <ion-input value="{{item_rate}}" type="text" clearInput [(ngModel)]="rate"></ion-input>
    </ion-item>

    <ion-item *ngIf="!valid2">
      <ion-label color="danger" style="font-weight: bold;">Rate : </ion-label>
      <ion-input type="text" clearInput [(ngModel)]="rate"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="dark" style="font-weight: bold;">Description : </ion-label>
      <ion-textarea rows="10" value={{item_description}} type="text" clearInput [(ngModel)]="description"></ion-textarea>
    </ion-item>

    <div style="padding:10px;text-align:center">
      <button class="save" ion-button (click)="item_done()"><ion-icon name="checkmark"></ion-icon></button>
    </div>

  </ion-list>
</ion-content>
