.list-avatar-page {
	background-color: #fafafa;
	ion-note {
		font-size: 12px;
		align-self: flex-start;
		margin-top: 14px;
	}
	ion-item{
		min-height: 80px;
		background-color: #fafafa;
	}
}

.addDiv{
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 80px;
	background-color: #fafafa;
	opacity: 0.6;
}
.addButton{
	position: fixed;
	color: #ecedef;
	background-color: #322f3e;
	width: 80%;
	height: 45px;
	bottom: 0;
	left: 50%;
	font-size: 16px;
	margin: 0 0 30px -40%;
	border-radius: 2px;
	box-shadow: 0px 0px 8px 2px #888888;
}

.toolLabel{
	display: block; 
	font-size: 10px; 
	color: #444; 
	margin-top: 5px;
}