<!--
  Generated template for the CustomerEditPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>{{this.title}}-Edit</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-item *ngIf="valid">
    <ion-label color="col1" floating>Name</ion-label>
    <ion-input type="text" value="{{cust_name}}" clearInput [(ngModel)]="name"></ion-input>
  </ion-item>
  <ion-item *ngIf="!valid">
    <ion-label color="danger" floating>Name</ion-label>
    <ion-input type="text" clearInput [(ngModel)]="name"></ion-input>
  </ion-item>
<!-- <ion-list>

  <ion-item padding>
    <ion-label>Customer</ion-label>
    <ion-checkbox [(ngModel)]="customer" (ionChange)="updateCustomer()"></ion-checkbox>
  </ion-item>

  <ion-item>
    <ion-label>Supplier</ion-label>
    <ion-checkbox [(ngModel)]="supplier" (ionChange)="updateSupplier()"></ion-checkbox>
  </ion-item>

</ion-list> -->

<div style="padding:10px;text-align:center">
  <button round color="col1" ion-button (click)="party_done()">Save</button>
</div>
</ion-content>
